@font-face {
  font-family: 'Retro';
  src: url(../fonts/Retro.ttf);
}

body {
  margin: 0;
  padding: 0;
}

main {
  background-color: #3419ff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23101bcb'/%3E%3Cstop offset='1' stop-color='%23101bcb' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%234f08b4'/%3E%3Cstop offset='1' stop-color='%234f08b4' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23260f70'/%3E%3Cstop offset='1' stop-color='%23260f70' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%233419ff'/%3E%3Cstop offset='1' stop-color='%233419ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23173187'/%3E%3Cstop offset='1' stop-color='%23173187' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23400857'/%3E%3Cstop offset='1' stop-color='%23400857' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.start-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.start-screen div.game-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.start-screen div.game-title .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.start-screen div.game-title .row span {
  font-family: 'Retro','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 900;
  padding: 4px;
  font-size: 4rem;
  color: #FFD033;
  text-shadow: 0 1px #2A1C52, -1px 0 #3B299B, -1px 2px #2A1C52, -2px 1px #3B299B, -2px 3px #2A1C52, -3px 2px #3B299B, -3px 4px #2A1C52, -4px 3px #3B299B, -4px 5px #2A1C52, -5px 4px #3B299B, -5px 6px #2A1C52, -6px 5px #3B299B, -6px 7px #2A1C52, -7px 6px #3B299B, -7px 8px #2A1C52, -8px 7px #3B299B;
}

.start-screen div.game-title .row-1 span:nth-child(even), .start-screen div.game-title .row-3 span:nth-child(even) {
  color: #EB1750;
}

.start-screen div.game-title .row-2 span:nth-child(odd) {
  color: #EB1750;
}

#game-board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h4 {
  text-align: center;
}

.information {
  -webkit-animation: border-animation 5s;
          animation: border-animation 5s;
}

.winner {
  -webkit-animation: border-winning 10s;
          animation: border-winning 10s;
}

@-webkit-keyframes border-animation {
  0% {
    border: solid red 1px;
  }
  100% {
    border: solid white 1px;
  }
}

@keyframes border-animation {
  0% {
    border: solid red 1px;
  }
  100% {
    border: solid white 1px;
  }
}

@-webkit-keyframes border-winning {
  0% {
    border: solid green 3px;
  }
  100% {
    border: solid white 1px;
  }
}

@keyframes border-winning {
  0% {
    border: solid green 3px;
  }
  100% {
    border: solid white 1px;
  }
}
/*# sourceMappingURL=styles.css.map */